table{
    border-collapse: collapse;
}
td{
    height: 17px;
    width: 17px;
    border: solid 1px black;
}
.cellLive{
    background-color: black;
}
.creation{
    display: flex;
    justify-content: center;
    height:200px;
    align-items: center;

}
.title{
    display: flex;
    justify-content: center;
    height:200px;
    align-items: center;
    font-size: 40px;
}
.form{
    display: flex;
    justify-content: center;
}
html, body{
    height: 100%;
}
body{
   
    margin : 0 ; 
    padding : 0 ;
    background: linear-gradient(37deg, rgba(2,0,36,0.8) 0%, rgba(9,9,121,0.8) 35%, rgba(0,212,255,0.8) 100%);
}
.playingButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.playingButtons > button{
    margin-left: 5px;
}
.tablee{
    display: flex;
    justify-content: center;
}
